<form action="/login" method="POST">
  <label name="">email</label>
  <input type="text" name="email"> <br><br>
  <label name="">password</label>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Log in!">
</form>
{{#if err}}
{{err}}
{{/if }}