<h1>{{title}}</h1>

<form action="{{action}}" method="POST">

  <input type="email" name="email" placeholder="name@gmail.com">
  <input type="password" name="password">
  <input type="submit" value="{{button}}">
</form>