<div id="login-background">
  <div class="form-container">
    <h1>{{title}}</h1>

    <form action="{{action}}" method="POST">
      <label>Email</label>
      <input type="email" name="email" placeholder="name@gmail.com">
      <label>Password</label>
      <input type="password" name="password">
      <input class="form-button" type="submit" value="{{button}}">
    </form>
  </div>
  <div class="button-home">
    <a href="/">Home</a>
    <a href="/signup">Sign up</a>
  </div>
</div>