<h2>Login</h2>

<form action="/login" method="POST" id="form-container">
  <label for="email">Email</label>
  <input required id="email" type="email" name="email" placeholder="Type your email" />
  <br /><br />
  <label for="password">Password</label>
  <input required id="password" type="password" name="password" placeholder="Type your password" />

  {{#if message}}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

  <button>Click to Login</button>

  <p class="account-message">
    If you don't have an account.
    <a href="/signup">Signup</a>
  </p>
</form>