{{!-- Tenemos que creear igualmente un formulario para el logoin
Al igual que cre ceo el de singup y se creara el de la pagina privada
 --}}

 <h1>Iniciar</h1>
 <br>
 <form action="/login" method="post">
 <label for="">Email</label>
 <input type="email" name="email" id="" placeholder="Email">
 <br>
 <label for="">Password</label>
 <input type="password" name="password" id="" placeholder="password">
 <br>
 <input type="submit" value="Ingresar">
 </form>
<br><br>
{{#if message}}
<div class="error-message" style="color:rgb(255, 0, 51)">{{message}}</div>
{{/if}}
