<h2>Login</h2>

<form action="/login" method="POST" id="form-container">
  <label for="email">Email:</label>
  <input type="email" name="email"/>
  <br /><br />
  <label for="password">Password:</label>
  <input type="password" name="password"/>

  {{#if message}}
  <div class="bg-danger text-light">{{ message }}</div>
  {{/if}}
  <br><br>

  <button>Login</button>

  <p class="account-message">
    or register
    <a href="/signup">Signup</a>
  </p>
</form>