<h1>{{title}}</h1>


<form action="{{action}}" method="POST">
  <input type="email" name="email" placeholder="E-mail">
  <input type="password" name="password">
  <input type="submit" value="{{button}}">
</form>