<h2>Log in</h2>

<form action="/login" method="POST" id="form-container">
  <label for="email">Email</label>
  <input required id="email" type="email" name="email" placeholder="type your email" />
  <br /><br />
  <label for="password">Password</label>
  <input required id="password" type="password" name="password" placeholder="what's your password" />

  {{#if msg}}
  <h3>{{ msg }}</h3>
  {{/if}}
  <br><br>

  <button>Log in</button>
</form>