<div>USERS ONLY</div>
{{#if user}}
    <h1>Hey {{user.email}}!</h1>
{{/if}}

<img src="https://static.boredpanda.com/blog/wp-content/uploads/2020/01/cat-meme-joke-fb22-png__700.jpg" alt="gato">

<a href="/logout">LOGOUT</a>