<div id="background-container">
  <div id="private-container">
    <h1>Private page</h1>

    {{#if user}}
    <h1>Who's the best developer?</h1>
    <h1>You are, <span style="color: red;">{{ user.username}}</span>. You are! </h1>
    <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="You rock.">
    <div id="private-buttons">
      <a href="/">Index</a>
      <a href="/logout">Log out</a>
    </div>
    {{/if}}
  </div>
</div>