<form class= "formsign" action="/signup" method="post">
    <div>
        <label>Email:</label>
        <input type="text" name="email">
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password">
    </div>
    <input class = "botsign" type="submit">
</form>