<h2>Sing up</h2>

<form action="/signup" method="POST">
 <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Name" />
  <br /><br />
  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="example@gmail.com" />
  <br /><br />
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password" />
</form>