<h1>{{title}}</h1>

{{#if error}}
<h2 style="color: red;">{{error}}</h2>
{{/if}}


<form action="{{action}}" method="POST">
  <input type="email" name="email" placeholder="E-mail">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="verify" placeholder="Verify Password">
  <input type="submit" value="{{button}}">
</form>