<h1>WELCOME TO PASSPORT TESTING</h1>
<br>
<br>
<h2>Choose an option</h2>
<br>
<button onclick="location.href='/signup'">Sign Up</button><br><br>
<button onclick="location.href='/login'">Log In</button><br><br>
<button onclick="location.href='/private'">Private</button><br><br>
